body {
    font-family: 'hello_goodbyeregular' !important;
    color: #FFFFFF;
    font-size: 2.5em;
}
h1 {
    font-family: 'hello_goodbyeregular' !important;
    color: #FFFFFF;
    font-size: 3em;
}
h2 {
    font-family: 'hello_goodbyeregular' !important;
    color: #FFFFFF;
    font-size: 2.75em;
}
a {
    color: #FFFFFF;
}